@model IList<DAL.DTOs.CustomerItemGrowthDTO>
<div class="content" style="padding-top: 25px">
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Top 10 Customers growing in sales 2017 vs 2018</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
</div>
